html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
.listItem {
    margin: 15px;
    font-family: 'Shadows Into Light', cursive;
}

.list {
    padding: 20px;
}
